sudo: required
services:
  - docker

before_install:
  - docker build -t LedisHzj/react-test -f ./client/Dockerfile.dev .

script:
  - docker run LedisHzj/react-test npm test -- --coverage

after_success:
  - docker build -t LedisHzj/multi-client ./client
  - docker build -t LedisHzj/multi-nginx ./nginx
  - docker build -t LedisHzj/multi-server ./server
  - docker build -t LedisHzj/multi-worker ./worker
  # log in to docker cli
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # take those images end push them to docker hub
  - docker push LedisHzj/multi-client
  - docker push LedisHzj/multi-nginx
  - docker push LedisHzj/multi-server
  - docker push LedisHzj/multi-worker